body {
  background: #282c34;
  color: #ffffff;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Container for the timer (card style) */
.timer-all {
  background: rgba(255, 255, 255, 0.1); /* semi-transparent light overlay */
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
  margin: 30px auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Timer wrapper to center content vertically */
.timer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: auto;
  text-align: center;
  padding: 20px;
}

/* Reduce space below the Current Task heading */
.timer-wrapper h2 {
  margin-bottom: 0.01rem;
}

/* Timer container used for grouping elements */
.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
}


.my-button {
  background: #ff4757;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.my-button:hover {
  background: #e84118;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color:white
}
.task-modal-popup,
.settings-popup,
.past-task-popup,
.summary-popup {
  background: #191818;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

/* Nav container styling for Timer and Past Task buttons */
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
  margin-bottom: 20px;
}

.actions-container {
  display: flex;
  justify-content: center;
  gap: 10px; 
  margin-top: 10px;
}

.total-time {
  font-size: 5rem; 
  font-weight: bold;
  color: #ffffff; 
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  text-align: center;
}

/* Doomscrolling popup styling */
.doom-popup {
  background: #b2373f;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.doom-popup h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.doom-popup p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
